<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="account-container">
        <div class="data-field">
            <div class="sub-field">
                <div class="search-field">
                    <form th:action="@{'/admin/account'}" id="form1" class="search-form" onsubmit="updateLink()">
                        <input type="text" id="txt-search" th:name="text" class="search-txt" placeholder="Tìm kiếm">
                        <button class="action-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="action-field">
                    <a id="add-btn" th:href ="${'/admin/account/add'}">Add</a>
                    <button id="delete-many-btn" onclick="deleteMany()">Delete All</button>
                </div>
            </div>
            <div class="table-container">
                <form id="data-form" method="post" onsubmit="" th:action="@{'/admin/account/deleteMany'}">
                    <table class="account-list">
                        <thead>
                        <tr>
                            <th></th>
                            <th>UID</th>
                            <th>Tài khoản</th>
                            <th>Email</th>
                            <th>Tên</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account : ${accounts}" >
                            <th><input type="checkbox" name="selected-rows" th:value="*{account.accountId}"></th>
                            <td th:text="*{account.accountId}"></td>
                            <td th:text="*{account.username}"></td>
                            <td th:text="*{account.email}"></td>
                            <td th:text="*{account.name}"></td>
                            <td>
                                <a class="action-btn" th:href="@{'/admin/account/update/' + ${account.accountId}}"><i class="fa-solid fa-pen"></i></a>
                                <a class="action-btn" th:href="@{/admin/account/delete(accountId=${account.accountId})}"
                                   onclick="if(!confirm('Bạn có chắc muốn xóa tài khoản này ?')) return false">
                                    <i class="fa-solid fa-trash"></i></a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="page-num">
                <a th:if="${currentPage > 0}"  th:href="@{'/admin/account/page/' + ${currentPage  - 1}}">Back</a>
                <span th:unless="${currentPage > 0}">Back</span>

                <span th:text="${currentPage + 1}"></span>

                <a th:if="${currentPage < totalPage - 1}"  th:href="@{'/admin/account/page/' + ${currentPage  + 1}}">Next</a>
                <span th:unless="${currentPage < totalPage - 1}">Next</span>
            </div>
        </div>
    </div>
</body>
</html>