<div class="level-container">
    <div class="level-field">

        <div class="level-table-container">
            <table id="level-table" class="level-list">
                <thead>
                <tr>
                    <th class="stage-num" th:text="Stage + ' ' + ${stage}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="level : ${levels}">
                    <td class="level-row" th:attr="data-values=${level.id.levelId} + '_' + ${stage}"
                        th:text="Level + ' ' + ${level.id.levelId}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-container">
            <button type="button" class="level-action-btn add-level">add</button>
        </div>
    </div>

    <div class="vocabulary-field">

    </div>
</div>

