<div class="mission-container">
    <div class="data-field">
        <div class="sub-field">
            <div class="action-field">
                <button id="add-btn" class="action-btn add-mission">Add</button>
            </div>
        </div>
        <div class="table-container">
            <form id="data-form" method="post">
                <table class="stage-list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Point</th>
                        <th>Type</th>
                        <th>Target</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mission : ${missions}">
                        <td th:text="*{mission.id}"></td>
                        <td th:text="*{mission.name}"></td>
                        <td th:text="*{mission.description}"></td>
                        <td th:text="*{mission.point}"></td>
                        <td th:text="*{mission.type}"></td>
                        <td th:text="*{mission.target}"></td>
                        <td>
                            <button type="button" th:attr="value=${mission.id}" class="action-btn update-stage">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="button" class="action-btn open-stage" th:attr="value=${mission.id}"
                                    id="delete-btn">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>