<div class="stage-container">
    <div class="data-field">
        <div class="sub-field">
            <div class="action-field">
                <button id="add-btn" class="action-btn add-stage">Add</button>
            </div>
        </div>
        <div class="table-container">
            <form id="data-form" method="post">
                <table class="stage-list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stage : ${stages}">
                        <td th:text="*{stage.stageId}"></td>
                        <td th:text="*{stage.title}"></td>
                        <td th:text="*{stage.depiction}"></td>
                        <td>
                            <button type="button" th:attr="value=${stage.stageId}" class="action-btn update-stage">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="button" class="action-btn open-stage" th:attr="value=${stage.stageId}"
                                    id="delete-btn">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>