<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/sub/learn.css}">
    <title>Monolingo - Học tiếng anh vui vẻ</title>
    <link rel="shortcut icon" type="x-icon" th:href="@{img/dart.png}">
</head>
<body>
    <div style="display: flex; gap: 40px; flex-direction: column">
        <div class="stage-container" th:each="stage : ${stages}">
            <h2 th:text="${stage.title}"></h2>
            <p th:text="${stage.depiction}"></p>
        </div>
    </div>

<!--            <div class="level-container">-->
<!--                <button class="level">-->
<!--                    1-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    2-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    3-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    4-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    5-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    6-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    7-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    8-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    9-->
<!--                </button>-->
<!--                <button class="level">-->
<!--                    10-->
<!--                </button>-->
<!--            </div>-->

</body>
</html>