#stage-form-container .row {
    display: flex;
    line-height: 35px;
    align-items: center;
}
.stage-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
}

.stage-list tbody {
}
.stage-list tr {
    border-bottom: 1px solid #BBBBBB;
    height: 60px;
}
.stage-list th, td {
    padding: 10px 0;
    text-align: center;
    width: fit-content;
}
.stage-list {
    width: 100%;
    border-collapse: collapse;
}

/*#stage-form .input-field input[type = text], input[type = date], .field{*/
/*    width: 250px;*/
/*    height: 40px;*/
/*    margin: 15px 30px;*/
/*    padding: 0 10px;*/
/*    border: none;*/
/*    border-bottom: 1px solid black;*/
/*    outline: none;*/
/*}*/

#stage-form-container .input-field .field{
    display: flex;
    justify-content: space-between;

    margin: 15px 30px;
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#stage-form-container .input-field .field input[type=text]{
    border: none;
    outline:none;

    width: 80%;
}

