<div class="learn-container">
    <div class="sub-learn-container" th:each="stage, stageStat : ${stages}">
        <a class="stage-container"
           th:style="'background-color:' + ${stageColors[stageStat.index % #lists.size(stageColors)]}">
            <h2 th:text="${stage.title}"></h2>
            <p th:text="${stage.depiction}"></p>
        </a>

        <div class="level-container">
            <button th:each="level, itemStat : ${stage.levels}" th:text="__${itemStat.index + 1}__"
                    th:class=" ${level.complete == false} ? 'level level--inactive' : 'level'"
                    th:style="${level.complete} ?'background-color:' + ${stageColors[stageStat.index % #lists.size(stageColors)]}"
                    th:data-level-id="${level.getId().getLevelId()}"
                    th:data-stage-id="${stage.getStageId()}">
            </button>
        </div>
    </div>
</div>

<div class="hide floating-start-panel">
    <h2>Cửa 1</h2>
    <p>Bài học 1 / 4</p>
    <a class="floating-start--btn">
        BẮT ĐẦU + 10 KN
    </a>
</div>