<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/fragments/listSearch.css">
</head>
<body>
<div class="container">
    <div class="items">
        <div class="items-body">
            <div class="items-body-content">
                <img src="../../static/img/history.png" class="history-search-icon">
                <span>Web Usabilty Testing</span>
                <img src="../../static/img/close.png" class="icon-dimension-20">
                <img src="../../static/img/fast-forward.png" class="icon-dimension-20-25">
            </div>
            <div class="items-body-content">
                <img src="../../static/img/history.png" class="history-search-icon">
                <span> Item 2 </span>
                <img src="../../static/img/close.png" class="icon-dimension-20">
                <img src="../../static/img/fast-forward.png" class="icon-dimension-20-25">
            </div>
            <div class="items-body-content">
                <img src="../../static/img/history.png" class="history-search-icon">
                <span>Web Usabilty Testing</span>
                <img src="../../static/img/close.png" class="icon-dimension-20">
                <img src="../../static/img/fast-forward.png" class="icon-dimension-20-25">
            </div>
            <div class="items-body-content">
                <img src="../../static/img/history.png" class="history-search-icon">
                <span>Web Usabilty Testing</span>
                <img src="../../static/img/close.png" class="icon-dimension-20">
                <img src="../../static/img/fast-forward.png" class="icon-dimension-20-25">
            </div>
        </div>
    </div>
</div>
</body>
</html>