<div class="meaning-container">
    <div class="word-container">
        <h2 class="word" th:text="${word}"></h2>
<!--        <img th:src="@{/img/flame.png}" alt="" class="favorite-off&#45;&#45;icon icon">-->
<!--        <img th:src="@{/img/flame.png}" alt="" class="favorite-on&#45;&#45;icon icon" hidden="hidden">-->
        <i id="fv-icon" th:class="${isExist} ? 'fa-heart fa-solid icon' : 'fa-heart fa-regular icon'"></i>
        <input type="hidden"th:value="${word}" id="word">
        <input type="hidden"th:value="${isExist}" id="isExist">
        <img th:src="@{/img/flame.png}" alt="" class="volume--icon icon">
    </div>

    <ul class="definitionPOS-container">
        <li th:each="defPOS : ${definitions}">
            <h2 class="part-of-speech" th:text="${defPOS.key}"></h2>

            <ul class="definition-container">
                <li class="definition-item" th:each="def : ${defPOS.value}">

                    <p th:text="${def.definition}"></p>
                    <ul class="example-container">
                        <li th:each="example : ${def.examples}">
                            <p class="example-item" th:text="${example}"></p>
                        </li>
                    </ul>

                    <div class="detail-meaning--container">

                        <div th:if="${#lists.size(def.synonyms) != 0}">
                            <p class="synonym--title">Đồng nghĩa</p>
                            <ul class="synonym-container">
                                <li th:each="syn : ${def.synonyms}">
                                    <p class="synonym-item" th:text="${syn}"></p>
                                </li>
                            </ul>
                        </div>

                        <div th:if="${#lists.size(def.antonyms) != 0}">
                            <p class="antonym--title">Trái nghĩa</p>
                            <ul class="antonym-container">
                                <li th:each="syn : ${def.antonyms}">
                                    <p class="antonym-item" th:text="${syn}"></p>
                                </li>
                            </ul>
                        </div>

                    </div>

                </li>

            </ul>

        </li>
    </ul>
</div>
