<link rel="stylesheet" th:href="@{/css/util.css}">
<link rel="stylesheet" th:href="@{/css/fragments/mission.css}">
<div style="display: flex; justify-content: space-between">
    <h2 style="margin-bottom: 10px">Nhiệm vụ hằng ngày</h2>
    <div style="display: flex; align-items: center">
        <img th:src="@{/img/clockMission.png}" style="width: 25px; margin-right: 15px">
        <h3 style="color: rgb(255, 150, 0)">Còn 2 tiếng</h3>
    </div>
</div>

<!--    <div class="mission-container " >-->
<!--        <div class="mission&#45;&#45;header">-->
<!--        </div>-->
        <div class="mission gap-15 " >
            <div class="mission--items-page bottom-solid hov-pointer hov-change-gray-light border-radius box-shadow" >
                <img th:src="@{/img/stormyellow.png}" class="mission--items-icon" style="width: 40px">
                <h3 class="mission--header" style="color: #646464;">Kiếm 10 kinh nghiệm</h3>
                <div class="mission--progress-bound" >
                    <div class="mission--progress-bar">
                        <div class="mission--progress"></div>
                        <h3 class="mission--progress-text">5/10</h3>
                    </div>
                    <img th:src="@{/img/treasure-chest-close.png}" class="mission--progress-icon--page p-r-40">

                </div>
            </div>
            <div class="mission--items-page bottom-solid hov-pointer hov-change-gray-light border-radius box-shadow">
                <img th:src="@{/img/stormyellow.png}" class="mission--items-icon" style="width: 40px">
                <h3 class="mission--header" style="color: #646464">Kiếm 10 kinh nghiệm</h3>
                <div class="mission--progress-bound">
                    <div class="mission--progress-bar">
                        <div class="mission--progress"></div>
                        <h3 class="mission--progress-text">5/10</h3>
                    </div>
                    <img th:src="@{/img/treasure-chest-close.png}" class="mission--progress-icon--page p-r-40">

                </div>
            </div>

            <div class="mission--items-page bottom-solid hov-pointer hov-change-gray-light border-radius box-shadow" style="border-radius: 10px;border: 2px solid #DDD;">
                <img th:src="@{/img/stormyellow.png}" class="mission--items-icon" style="width: 40px">
                <h3 class="mission--header" style="color: #646464">Kiếm 10 kinh nghiệm</h3>
                <div class="mission--progress-bound">
                    <div class="mission--progress-bar">
                        <div class="mission--progress"></div>
                        <h3 class="mission--progress-text">5/10</h3>
                    </div>
                    <img th:src="@{/img/treasure-chest-close.png}" class="mission--progress-icon--page p-r-40">

                </div>
            </div>

            <div class="mission--items-page bottom-solid hov-pointer hov-change-gray-light border-radius box-shadow" style="border-radius: 10px;border: 2px solid #DDD;">
                <img th:src="@{/img/stormyellow.png}" class="mission--items-icon" style="width: 40px">
                <h3 class="mission--header" style="color: #646464">Kiếm 10 kinh nghiệm</h3>
                <div class="mission--progress-bound">
                    <div class="mission--progress-bar">
                        <div class="mission--progress"></div>
                        <h3 class="mission--progress-text">5/10</h3>
                    </div>
                    <img th:src="@{/img/treasure-chest-close.png}" class="mission--progress-icon--page p-r-40">

                </div>
            </div>
            <div class="mission--item-lock hov-pointer border-radius box-shadow" style="border-radius: 10px;border: 2px solid #DDD;">
                <img class="_2Vzjw" src="https://d35aaqx5ub95lt.cloudfront.net/images/goals/b4d50b5a518e587420bed74bcb381ac4.svg" style="width: 45px">
                <h2 class="mission--header" style="color: #646464; font-size: 25px; padding-left: 20px">Nhiều nhiệm vụ sắp mở</h2>
            </div>


        </div>
<!--    </div>-->
