<div style="display: flex; justify-content: space-between">
    <h2 style="margin-bottom: 10px">Nhiệm vụ hằng ngày</h2>
</div>

<!--    <div class="mission-container " >-->
<!--        <div class="mission&#45;&#45;header">-->
<!--        </div>-->
        <div class="mission gap-15 " >
            <div class="mission--items-page bottom-solid hov-pointer hov-change-gray-light border-radius box-shadow"
                th:each="mission : ${dailyMissions}">
                <img th:src="@{/img/stormyellow.png}" class="mission--items-icon" style="width: 40px">
                <h3 class="mission--header" style="color: #646464;" th:text="${mission.getMission().getName()}"></h3>
                <h4 class="mission--sub-header" style="color: #646464;" th:text="${mission.getMission().getDescription()}"></h4>
                <div class="mission--progress-bound" >
                    <div class="mission--progress-bar">
                        <div class="mission--progress" th:style="|width: ${mission.getProgress() / mission.getMission().getTarget() * 100}%|"></div>
                        <h3 class="mission--progress-text" th:text="${mission.getProgress()} + '/' + ${#strings.toString(mission.getMission().getTarget())}"></h3>
                    </div>
                    <img th:src="@{/img/treasure-chest-close.png}" class="mission--progress-icon--page p-r-40">

                </div>
            </div>

            <div class="mission--item-lock hov-pointer border-radius box-shadow"
                 style="border-radius: 10px;border: 2px solid #DDD;display: flex; flex-direction: row; padding: 20px; align-items: center">
                <img class="_2Vzjw" src="https://d35aaqx5ub95lt.cloudfront.net/images/goals/b4d50b5a518e587420bed74bcb381ac4.svg" style="width: 45px">
                <h2 class="mission--header" style="color: #646464; font-size: 25px; padding-left: 20px">Nhiều nhiệm vụ sắp mở</h2>
            </div>

        </div>
<!--    </div>-->
