<div
  id="profile-stats"
  th:data-days="${dayStats.getDays()}"
  th:data-exps="${dayStats.getExperiences()}"
  th:data-online-hours="${dayStats.getOnlineHours()}"
></div>

<div class="profile-container">
  <div class="personal-container">
    <form action="" id="profile-form">
      <div class="profile-text-container">
        <input
          class="profile-text profile-text--title"
          name="profile-name"
          style="
            font-size: 20px;
            color: black;
            margin-bottom: 10px;
            font-weight: bold;
            width: 250px;
          "
          th:value="${stats.account.getName()}"
          oninput="editProfile()"
          readonly
        />
        <span class="edit-btn" id="edit-btn" th:if="${current}">✒️</span>
      </div>

      <div class="profile-text-container">
        <span style="font-size: 17px; margin-right: 10px">Giới tính</span>

        <label for="male-btn"
          ><input
            type="radio"
            th:checked="${stats.account.getGender()}"
            onchange="editProfile()"
            value="true"
            name="gender-rd"
            id="male-btn"
            disabled
          />Nam</label
        >

        <label for="female-btn"
          ><input
            type="radio"
            th:checked="${!stats.account.getGender()}"
            onchange="editProfile()"
            value="false"
            name="gender-rd"
            id="female-btn"
            disabled
          />Nữ</label
        >
      </div>
      <div class="profile-text-container">
        <input
          type="date"
          class="profile-text profile-text--birthDate"
          name="profile-birthDate"
          onchange="editProfile()"
          th:value="${#dates.format(stats.account.getBirthdate(), 'yyyy-MM-dd')}"
          readonly
        />
      </div>
      <div class="profile-text-container">
        <input
          class="profile-text profile-text--email"
          name="profile-email"
          oninput="editProfile()"
          th:value="${stats.account.getEmail()}"
          readonly
        />
      </div>
    </form>

    <div
      class="profile-text--index"
      th:text="${stats.getAccount().getName().charAt(0)}"
    ></div>
    <div class="btn-container">
      <input
        type="button"
        onclick="submitForm()"
        class="save-btn hidden"
        value="Lưu thay đổi"
        disabled
      />
    </div>

    <div class="profile--outsider-container" th:if="${!current}">
      <div
        class="profile--outsider-follow"
        th:text="${stats.isFollowed()?'THEO DÕI':'HỦY THEO DÕI'}"
      ></div>
      <div class="profile--outsider-more">. . .</div>
    </div>
  </div>

  <!--    <p  class="profile-text profile-text&#45;&#45;title"-->
  <!--        style="font-size: 20px; color: black; margin-bottom: 10px; font-weight: bold"-->
  <!--        th:text="${stats.account.getName()}">-->
  <!--    </p>-->
  <!--    <p class="profile-text" th:text="${stats.account.getGender()  ? 'nữ' : 'nam'}"></p>-->
  <!--    <p class="profile-text" th:text="${#dates.format(stats.account.getBirthdate(), 'dd-MM-yyyy')}"></p>-->
  <!--    <p class="profile-text profile-text&#45;&#45;email" th:text="${stats.account.getEmail()}"></p>-->
  <p style="font-weight: bold; font-size: 20px">Thống kê</p>
  <div class="stats-container">
    <div class="stats-item">
      <img th:src="@{/img/flame.png}" alt="" class="stats--img" />
      <p class="stats--title stats--title--streak">Streak</p>
      <p class="stats--amount stats--streak" th:text="${stats.streak}"></p>
    </div>

    <div class="stats-item">
      <img th:src="@{/img/ray.png}" alt="" class="stats--img" />
      <p class="stats--title stats--title--exp">Tổng KN</p>
      <p class="stats--amount stats--exp" th:text="${stats.experience}"></p>
    </div>

    <div class="stats-item">
      <img th:src="@{/img/clock.png}" alt="" class="stats--img" />
      <p class="stats--title stats--title--hour">Số giờ học</p>
      <p
        class="stats--amount stats--hour"
        th:text="${#numbers.formatDecimal(stats.onlineHours, 0, 0)}"
      ></p>
    </div>
  </div>

  <p style="font-weight: bold; font-size: 20px">Biểu đồ</p>
  <div
    th:id="chart"
    style="width: 600px; height: 600px; border-bottom: 2px solid #cccccc"
  ></div>

  <div class="friend-container" th:if="${current}">
    <div class="friend--follower-panel">
      <p style="font-weight: bold; font-size: 20px; margin-bottom: 40px">
        Đang theo dõi
      </p>

      <div class="friend--followers" th:each="friendExp, stat : ${friendsExps}">
        <div
          class="friend--follower"
          th:data-id="${friendExp.getFriend().getId().getFollowingId()}"
        >
          <div class="friend--follower-index" th:text="${stat.index + 1}"></div>
          <p
            class="friend--follower-name"
            th:text="${friendExp.getFriend().getFollowing().getName()}"
          ></p>
          <p class="friend--follower-exp" th:text="${friendExp.getExp()}"></p>
        </div>
      </div>
    </div>

    <div class="friend--add-panel">
      <p style="font-weight: bold; font-size: 20px; margin-bottom: 30px">
        Thêm bạn bè
      </p>

      <a
        class="friend--add-item friend--add-item-search"
        id="fragment-searchFriend"
      >
        <img
          th:src="@{/img/look-up.png}"
          alt=""
          class="friend--add-item-image"
        />
        <p class="friend--add-item-text">Tìm bạn bè</p>
        <img
          th:src="@{/img/arrow-right.png}"
          alt=""
          class="friend--add-item-image friend--add-item-arrow"
        />
      </a>

      <div class="friend--add-item">
        <img
          th:src="@{/img/envelope.png}"
          alt=""
          class="friend--add-item-image"
        />
        <p class="friend--add-item-text">Mời bạn bè</p>
        <img
          th:src="@{/img/arrow-right.png}"
          alt=""
          class="friend--add-item-image friend--add-item-arrow"
        />
      </div>
    </div>
  </div>
</div>
