<div class="profile-container">
    <div class="personal-container">
        <p class="profile-text"
           style="font-size: 20px; color: black; margin-bottom: 10px; font-weight: bold">
            LÊ ANH KHOA
        </p>
        <p class="profile-text">Nam</p>
        <p class="profile-text">17/08/2003</p>
        <p class="profile-text">leanhkhoapl178@gmail.com</p>
    </div>

    <p style="font-weight: bold; font-size: 20px">Thống kê</p>
    <div class="stats-container">
        <div class="stats-item">
            <img th:src="@{/img/flame.png}" alt="" class="stats--img"/>
            <p class="stats--title stats--title--streak">Streak</p>
            <p class="stats--amount stats--streak">5</p>
        </div>

        <div class="stats-item">
            <img th:src="@{/img/ray.png}" alt="" class="stats--img"/>
            <p class="stats--title stats--title--exp">Tổng KN</p>
            <p class="stats--amount stats--exp">5</p>
        </div>

        <div class="stats-item">
            <img th:src="@{/img/clock.png}" alt="" class="stats--img"/>
            <p class="stats--title stats--title--hour">Số giờ học</p>
            <p class="stats--amount stats--hour">5</p>
        </div>
    </div>

    <p style="font-weight: bold; font-size: 20px">Biểu đồ</p>
</div>