<div class="search--friend-container">
    <form action="" method="get">
    <div class="search--friend--search-panel">
        <p class="search--friend--title">Tìm bạn</p>
        <input class="search--friend--search" placeholder="Tên người dùng" name="search"/>
    </div>
    </form>

    <div class="search--friend--result-placeholder" th:if="${searchResults == null || searchResults.isEmpty()}">
        <img alt="" th:src="@{/img/friend.png}" width="300px" style="padding-top: 50px;"/>
        <p class="search--friend--text">Kết nối bạn bè giúp học vui hơn</p>
    </div>

    <div class="search--friend--result" th:if="${searchResults != null && !searchResults.isEmpty()}">
        <div class="search--friend--result-item" th:each="friend : ${searchResults}">
            <div class="search--friend--result-index" th:text="${friend.getName().charAt(0)}"></div>
            <p class="search--friend--result-name" th:text="${friend.getName()}"></p>
            <p class="search--friend--result-username" th:text="${friend.getUsername()}"></p>
            <div class="search--friend--result-follow" th:data-id="${friend.getAccountId()}" th:if="${!friend.isFriended()}">Theo Dõi</div>
        </div>
    </div>
</div>