<div class="store-container">

    <div class="store--heart-container">
        <p class="store--title">Trái tim</p>
        <div class="store-item">
            <img th:src="@{/img/heart-store@3x.png}" alt="" class="store--img">
            <p class="store-item--title">Hồi phục trái tim</p>
            <p class="store-item--text">Lấp đầy trái tim để không phải lo lắng mắc lỗi sai trong bài học</p>
            <div class="store-item--btn">
                <p class="store--btn--text">Mua với giá:</p>
                <p class="store--btn--value">200</p>
            </div>
        </div>
    </div>

</div>
