* {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
}

html, body {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 19px;
}

span {
    font-size: 15px;
}

.hidden {
    display: none;
}

.logo {
    font-size: 35px;
    color: #00ADFF;
}

.container {
    display: grid;
    grid-template-columns: 17.5% auto;
}

.menu-container {
    position: fixed;
    height: 100%;
    padding: 20px;
    border-right: 2px solid #DDD;
    display: grid;
    grid-template-rows: 50px auto;
}

.main-container {
    height: 100%;
    padding-right: 100px;
    padding-left: 120px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-column: 2/3;
}

.sticky-container {
    position: fixed;
    z-index: 1;
    right: 100px;
    left: calc(17.5% + 120px);
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 600px 400px;
    background-color: white;
}

.view-container {
    width: 100%;
    height: calc(100% + 150px);
    grid-row: 2/3;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.content-container {
    width: 100%;
    height: 600px;
}

.mission--header {
    display: flex;
    justify-content: space-between;
}

.mission--header-detail {
    color: #64D014;
    font-weight: 800;
    font-size: 19px;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.gap-15 {
    gap:15px !important;
}

.mission--items {

    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 80px auto;
    column-gap: 30px;
    align-items: center;

}
.mission--items-page {

    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 60px auto;
    column-gap: 15px;
    align-items: center;
    padding: 12px;
}

.mission--items-icon {
    width: 60px;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.mission--progress-icon {
    width: 30px;
}
.mission--progress-icon--page {
    width: 35px;
}

.mission--progress-bound {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mission--progress-bar {
    position: relative;
    width: 80%; /* Set the width of the progress bar */
    height: 20px; /* Set the height of the progress bar */
    border-radius: 10px;
    background-color: #eee; /* Set the background color of the progress bar */
}

/* Define the progress indicator */
.mission--progress {
    width: 50%; /* Set the initial progress (50% in this example) */
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #00ADFF; /* Set the progress color */
    transition: width 0.5s; /* Add a transition for smooth progress updates */
}

.mission--progress-text {
    position: absolute;
    top: 0;
    left: 50%;
    color: rgba(0, 0, 0, 0.5);
    transform: translateX(-50%); /* Center the text horizontally */
}

.menu {
    align-self: start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.menu--tabs {
    border-radius: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 4px 15px 4px 15px;
}


@media (max-width: 800px) {
    .menu--tabs-text {
        display: none;
    }

    .logo {
        display: none;
    }

}


.menu--tabs-icon {
    width: 30px;
}

.menu--tabs-text {
    color: #888;
    width: 130px;
    font-weight: 700;
}

.menu--tab-active {
    background-color: #D7FFB8;
    border: 2px solid #64D014;
}

a {
    text-decoration: none;
}

a.menu--tabs:hover:not(.menu--tab-active) {
    background-color: rgb(245, 245, 245);
}
.menu--tabs:hover:not(.menu--tab-active) {
    background-color: rgb(245, 245, 245);
}


.search--btn {
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    background-color: #00ADFF;
    border: 0;
    cursor: pointer;
}

.search--btn-icon {
    width: 20px;
}

.search--panel {
    position: relative;
    display: grid;
}

.search--form {
    display: grid;
    grid-template-columns: auto 100px;
    position: relative;
    z-index: 3;
}

.search--bar {
    border-radius: 20px;
    justify-self: stretch;
    height: 40px;
    z-index: 1;
    background-color: #AAE4FF;
    border: 2px solid #00ADFF;
    padding-left: 20px;
    padding-right: 20px;
    color: #00ADFF;
}

.search--bar::placeholder {
    color: #55CDFF;
}

.search--bar:focus {
    outline: none;
}

.search--results-panel {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 20px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    filter: drop-shadow(0px 3px 3px rgba(0, 0.5, 1, 0.25))
}

.search--results {
    list-style: none;
}

.search--result {
    padding: 5px 20px;
    cursor: pointer;
}

.search--result:hover {
    text-decoration: underline;
    background-color: #f6f6f6;
}

.search--result--selected {
    text-decoration: underline;
    background-color: #f6f6f6;
}

.search--result:first-child {
    margin-top: 30px;
}

.search--result:last-child {
    margin-bottom: 20px;
}

.resource-panel {
    padding-right: 20px;
    display: flex;
    gap: 90px;
    justify-content: flex-end;
    align-items: center;
}

.resource--items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resource--items-icon {
    width: 25px;
}

.resource--items-text {
    font-weight: 800;
}

.resource--items-text-streak {
    color: #F3705A;
}

.resource--items-text-gem {
    color: #8D75FF;
}

.resource--items-text-heart {
    color: #FF4B4B;
}
.bottom-solid {
    border-bottom: 1px solid #8598af;
}

.hov-change-gray-light:hover {
    background-color: #d3d3d3;
    transition: 0.3s;

}
.no-gap{
    gap: 0!important;
}
.border-radius {
    border-radius: 14px;
    border: 2px solid #DDD;
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menu--option {
    position: relative;
}

.menu-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90%; /* Position the menu-content to the right of the menu-button */
    top: 0;
    min-width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 10px;
    z-index: 1;
    visibility: hidden; /* Ẩn nội dung */
    opacity: 0; /* Đặt opacity bằng 0 để làm trong suốt */
}
.menu--option:hover .menu-content{
    /*display: flex;*/
    visibility: visible; /* Ẩn nội dung */
    opacity: 1;
    transition: 0.7s;
}
.menu--option--item {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}
.menu--option--item:hover {
    background-color: #eae9e9;
    cursor: pointer;
}

.icon--option {
    width: 25px;
}