<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/lessonStyle.css}">
    <title>Monolingo - Học tiếng anh vui vẻ</title>
    <link rel="shortcut icon" type="x-icon" th:href="@{img/dart.png}">
</head>
<body>
    <div class="container">
        <div class="top-container">
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
            </div>

            <div class="resource--items">
                <img alt=""
                     th:src="@{img/heart.png}"
                     class="resource--items-icon">
                <span class="
                                resource--items-text
                                resource--items-text-heart"
                      th:text=5></span>
            </div>
        </div>

        <div>

        </div>

        <div class="bottom-container">
            <button class="btn btn--pass">BỎ QUA</button>
            <button class="btn btn--check btn--check--inactive">KIỂM TRA</button>
        </div>
    </div>
</body>
</html>