<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/lessonStyle.css}">

<div class="container">
    <div class="top-container">

    </div>

    <div class="info-container">
        <dialog th:if="${streak != 0}" class="streak-container">
            <div class="streak-dialog-body">
                <div class="title">
                    <span class="streak-num" th:text="${streakDays}"></span>
                    <span class="title-text">Ngày streak!</span>
                </div>
                <div class="content">
                    <p>Bạn nhận được <span th:text="${streak}"></span> kim cương</p>
                    <p>Streak tăng khi bạn luyện tập hàng ngày, chỉ một ngày không tập luyện bạn sẽ mất hết streak</p>
                </div>
            </div>
        </dialog>
        <img th:src="@{/img/firework.png}" alt="" class="finish-image"/>
        <p class="finish-title">Hoàn thành bài học</p>
        <div class="finish-frame exp-frame">
            <i class="fa-solid fa-bolt-lightning exp-icon"></i>
            <p class="exp-amount" th:text="${exp}"></p>
        </div>

        <div class="finish-frame precise-frame">
            <i class="fa-solid fa-bullseye precise-icon"></i>
            <p class="precise-amount" th:text="${precise}"></p>
        </div>
    </div>

    <div class="bottom-container">
        <div class="default-container">
            <button class="btn btn--review">XEM LẠI BÀI HỌC</button>
            <button class="btn btn--end">TIẾP TỤC</button>
        </div>
    </div>

    <div class="review--overlay hidden">
        <div class="review-container">
            <div class="review--header">
                <div class="review--title">Xem lại bài học</div>
                <button class="review--collapse-btn">X</button>
            </div>
            <div class="review--body">
<!--                <div class="review&#45;&#45;item">-->
<!--                    <p class="review&#45;&#45;item&#45;&#45;header">Dịch lại câu</p>-->
<!--                    <p class="review&#45;&#45;item&#45;&#45;sentence">Dịch lại câu</p>-->
<!--                </div>-->
            </div>

            <div class="review--detail--overlay hidden">
                <div class="review--detail-container">
<!--                    <div class="review&#45;&#45;header">-->
<!--                        <div class="review&#45;&#45;title">Xem lại bài học</div>-->
<!--                        <button class="review&#45;&#45;detail&#45;&#45;collapse-btn">X</button>-->
<!--                    </div>-->
<!--                    <p class="review&#45;&#45;item&#45;&#45;header">Dịch lại câu</p>-->
<!--                    <p class="review&#45;&#45;item&#45;&#45;sentence">Dịch lại câu</p>-->
                </div>
            </div>
        </div>
    </div>

</div>