<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/lessonStyle.css}">
    <title>Monolingo - Học tiếng anh vui vẻ</title>
    <link rel="shortcut icon" type="x-icon" th:href="@{img/dart.png}">
</head>
<body>
    <h1>Lesson</h1>
</body>
</html>