<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/dart.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/learnStyle.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/meaningStyle.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/rankStyle.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/practiceStyle.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/profileStyle.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/storeStyle.css}">

    <title>Monolingo - Học tiếng anh vui vẻ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script defer th:src="@{/javascript/main.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<div id="metadata" th:data-account-id="${accountId}"></div>
<body class="container">

<div class="menu-container">

    <header>
        <h1 class="logo">Monolingo</h1>
    </header>

    <div class="menu">

        <a id="fragment-learn" th:href="@{fragments/learn.html}" class="menu--tabs">
            <img alt=""
                 th:src="@{/img/house.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text">HỌC</span>
        </a>

        <a id="fragment-practice" th:href="@{fragments/practice.html}" class="menu--tabs">
            <img alt=""
                 th:src="@{/img/dumbbell.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text">LUYỆN TẬP</span>
        </a>

        <a id="fragment-rank" th:href="@{fragments/rank.html}" class="menu--tabs">
            <img alt=""
                 th:src="@{/img/podium.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text">BẢNG XẾP HẠNG</span>
        </a>

        <a id="fragment-mission" th:href="@{fragments/mission.html}" class="menu--tabs">
            <img alt=""
                 th:src="@{/img/treasure-chest.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text">NHIỆM VỤ</span>
        </a>

        <a id="fragment-store" th:href="@{fragments/store.html}" class="menu--tabs">
            <img alt=""
                 th:src="@{/img/shop.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text">CỬA HÀNG</span>
        </a>

        <div id="fragment-more" href="#" class="menu--tabs menu--option">
            <img alt=""
                 th:src="@{/img/more.png}"
                 class="menu--tabs-icon">
            <span class="menu--tabs-text ">XEM THÊM</span>
            <div class="menu-content">
                <a id="fragment-profile" class="menu--option--item">
                    <h3 class="menu--tabs-text">Tạo hồ sơ</h3>
                    <img th:src="@{/img/boy.png}" class="icon--option" alt="">
                </a>
                <a class="menu--option--item">
                    <h3 class="menu--tabs-text">Hỗ trợ</h3>
                    <img th:src="@{/img/question.png}" class="icon--option" alt="">
                </a>
                <a class="menu--option--item">
                    <h3 class="menu--tabs-text">Cài đặt</h3>
                    <img th:src="@{/img/setting.png}" class="icon--option" alt="">
                </a>
                <a class="menu--option--item" id="fragment-logout">
                    <h3 class="menu--tabs-text">Đăng xuất</h3>
                    <img th:src="@{/img/logout.png}" class="icon--option" alt="">
                </a>
            </div>

        </div>


    </div>

</div>
</div>

<main class="main-container">

    <div class="sticky-container">
        <div>
            <form class="search--form" method="GET">
                <div class="search--panel">
                    <input type="text"
                           name="word"
                           class="search--bar"
                           placeholder="Tìm kiếm từ vựng"
                           autocomplete="false"
                           maxlength="50">

                    <div class="search--results-panel">
                        <ul class="search--results">
                        </ul>
                    </div>
                </div>

                <span style="display: grid">
                        <button type="submit" class="search--btn">
                            <img alt=""
                                 th:src="@{/img/search.png}"
                                 class="search--btn-icon">
                        </button>
                    </span>

            </form>
        </div>

        <div class="resource-panel">

            <div class="resource--items">
                <img alt=""
                     th:src="@{/img/flame.png}"
                     class="resource--items-icon">
                <span class="
                            resource--items-text
                            resource--items-text-streak"
                      th:text="${userData.numberOfConsecutiveDay}"></span>
            </div>

            <div class="resource--items">
                <img alt=""
                     th:src="@{/img/gems.png}"
                     class="resource--items-icon">
                <span class="
                            resource--items-text
                            resource--items-text-gem"
                      th:text="${userData.balance}"></span>
            </div>

            <div class="resource--items">
                <img alt=""
                     th:src="@{/img/heart.png}"
                     class="resource--items-icon">
                <span class="
                            resource--items-text
                            resource--items-text-heart"
                      th:text="${userData.hearts}"></span>
            </div>


        </div>
    </div>

    <div class="view-container">

        <div class="content-container">
        </div>

        <aside class="aside-container">
            <div class="mission-container">
                <div class="mission--header">
                    <h2>Nhiệm Vụ Hằng Ngày</h2>
                    <a href="#" class="mission--header-detail">Xem tất cả</a>
                </div>

                <div class="mission">
                    <div class="mission--items">
                        <img alt=""
                             th:src="@{/img/dart.png}"
                             class="mission--items-icon">
                        <h3>
                            Kiếm 10 KN
                        </h3>

                        <div class="mission--progress-bound">
                            <div class="mission--progress-bar">
                                <div class="mission--progress"></div>
                                <h3 class="mission--progress-text">5/10</h3>
                            </div>

                            <img alt=""
                                 th:src="@{/img/treasure-chest.png}"
                                 class="mission--progress-icon">
                        </div>
                    </div>

                    <div class="mission--items">
                        <img alt=""
                             th:src="@{/img/dart.png}"
                             class="mission--items-icon">
                        <h3>
                            Hoàn thành 3 màn chơi có độ chính xác hơn 80%
                        </h3>

                        <div class="mission--progress-bound">
                            <div class="mission--progress-bar">
                                <div class="mission--progress"></div>
                                <h3 class="mission--progress-text">1/3</h3>
                            </div>

                            <img alt=""
                                 th:src="@{/img/treasure-chest.png}"
                                 class="mission--progress-icon">
                        </div>
                    </div>
                </div>

            </div>
        </aside>

    </div>

</main>

</body>
</html>