<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Monolingo - Học tiếng anh vui vẻ</title>
    <link rel="shortcut icon" type="x-icon" th:href="@{img/dart.png}">
</head>
<body class="container">

    <div class="menu-container">

        <header>
            <h1 class="logo">Monolingo</h1>
        </header>

        <div class="menu">

            <a href="#" class="menu--tabs menu--tab-active">
                <img alt=""
                     th:src="@{img/house.png}"
                     class="menu--tabs-icon">
                <span class="menu--tabs-text">HỌC</span>
            </a>

            <a href="#" class="menu--tabs">
                <img alt=""
                     th:src="@{img/dumbbell.png}"
                     class="menu--tabs-icon">
                <span class="menu--tabs-text">LUYỆN TẬP</span>
            </a>

            <a href="#" class="menu--tabs">
                <img alt=""
                     th:src="@{img/podium.png}"
                     class="menu--tabs-icon">
                <span class="menu--tabs-text">BẢNG XẾP HẠNG</span>
            </a>

            <a href="#" class="menu--tabs">
                <img alt=""
                     th:src="@{img/treasure-chest.png}"
                     class="menu--tabs-icon">
                <span class="menu--tabs-text">NHIỆM VỤ</span>
            </a>

            <a href="#" class="menu--tabs">
                <img alt=""
                     th:src="@{img/shop.png}"
                     class="menu--tabs-icon">
                <span class="menu--tabs-text">CỬA HÀNG</span>
            </a>

        </div>
    </div>

    <main class="main-container">

        <div class="sticky-container">
            <div>
                <form method="GET">

                    <input type="text"
                           name="word"
                           class="search--bar"
                           placeholder="Tìm kiếm từ vựng">

                    <span>
                            <button type="submit" class="search--btn">
                                <img alt=""
                                     th:src="@{img/search.png}"
                                     class="search--btn-icon">
                            </button>
                        </span>

                </form>
            </div>

            <div class="resource-panel">

                <div class="resource--items">
                    <img alt=""
                         th:src="@{img/flame.png}"
                         class="resource--items-icon">
                    <span class="
                            resource--items-text
                            resource--items-text-streak">0</span>
                </div>

                <div class="resource--items">
                    <img alt=""
                         th:src="@{img/gems.png}"
                         class="resource--items-icon">
                    <span class="
                            resource--items-text
                            resource--items-text-gem">0</span>
                </div>

                <div class="resource--items">
                    <img alt=""
                         th:src="@{img/heart.png}"
                         class="resource--items-icon">
                    <span class="
                            resource--items-text
                            resource--items-text-heart">0</span>
                </div>


            </div>
        </div>

        <div class="view-container">
            <div class="content-container" th:replace="~{learn.html}">

            </div>

            <aside class="aside-container">
                <div class="mission-container">
                    <div class="mission--header">
                        <h2>Nhiệm Vụ Hằng Ngày</h2>
                        <a href="#" class="mission--header-detail">Xem tất cả</a>
                    </div>

                    <div class="mission">
                        <div class="mission--items">
                            <img alt=""
                                 th:src="@{img/dart.png}"
                                class="mission--items-icon">
                            <h3>
                                Kiếm 10 KN
                            </h3>

                            <div class="mission--progress-bound">
                                <div class="mission--progress-bar">
                                    <div class="mission--progress"></div>
                                    <h3 class="mission--progress-text">5/10</h3>
                                </div>

                                <img alt=""
                                     th:src="@{img/treasure-chest.png}"
                                     class="mission--progress-icon">
                            </div>
                        </div>

                        <div class="mission--items">
                            <img alt=""
                                 th:src="@{img/dart.png}"
                                 class="mission--items-icon">
                            <h3>
                                Hoàn thành 3 màn chơi có độ chính xác hơn 80%
                            </h3>

                            <div class="mission--progress-bound">
                                <div class="mission--progress-bar">
                                    <div class="mission--progress"></div>
                                    <h3 class="mission--progress-text">1/3</h3>
                                </div>

                                <img alt=""
                                     th:src="@{img/treasure-chest.png}"
                                     class="mission--progress-icon">
                            </div>
                        </div>
                    </div>

                </div>
            </aside>

        </div>

    </main>

</body>
</html>